.home {

    padding: 30px;

}


.product-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;

}


.top-bar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 25px;

}