.cart-page {

    padding: 30px;

}


.cart-list {

    display: flex;
    flex-direction: column;
    gap: 20px;

}


.cart-item {

    display: flex;
    gap: 20px;
    padding: 20px;

    border-radius: 15px;
    background: #f8f8f8;

}


.cart-item img {

    width: 100px;
    height: 100px;

    object-fit: cover;

    border-radius: 10px;

}


.empty {

    font-size: 20px;

}