.product-card{

    background:white;

    border-radius:22px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

}

.product-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 45px rgba(0,0,0,.15);

}

.product-image{

    height:260px;

    background:#f7faff;

    display:flex;

    justify-content:center;

    align-items:center;

}

.product-image img{

    width:180px;

}

.product-info{

    padding:20px;

}

.product-info h3{

    color:#4a7ce8;

}

.product-info p{

    margin:8px 0;

    color:#666;

}

.rating{

    display:flex;

    align-items:center;

    gap:6px;

    margin:10px 0;

    color:goldenrod;

}

.product-info h2{

    color:#222;

    margin-top:12px;

}

.product-action{

    display:flex;

    justify-content:space-between;

    padding:20px;

}

.product-action button{

    border:none;

    cursor:pointer;

    border-radius:12px;

    padding:12px 18px;

}

.cart-btn{

    background:#6ca8ff;

    color:white;

}