.detail-page{

    max-width:1200px;

    margin:40px auto;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:50px;

    align-items:center;

}

.detail-image img{

    width:100%;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.detail-info h1{

    margin:15px 0;

}

.detail-info h3{

    color:#5d8ef7;

    font-size:30px;

    margin:20px 0;

}

.detail-btn{

    display:flex;

    gap:20px;

    margin-top:30px;

}

.detail-btn button{

    padding:14px 24px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    background:#5d8ef7;

    color:white;

    font-size:16px;

}

.wishlist-btn{

    background:#ff7aa2 !important;

}

@media(max-width:900px){

    .detail-page{

        grid-template-columns:1fr;

        padding:20px;

    }

}