.profile-page{

    min-height:100vh;

    background:#f7f8fc;

    padding:40px;

}


/* PROFILE CARD */

.profile-card{

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    margin-bottom:30px;

}


.profile-card h1{

    margin-bottom:25px;

    color:#333;

}


.profile-info{

    display:flex;

    justify-content:space-between;

    padding:15px 0;

    border-bottom:1px solid #eee;

}


.profile-info:last-child{

    border-bottom:none;

}



.profile-info span{

    color:#666;

}



/* ORDER */

.order-history{

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}



.order-history h2{

    margin-bottom:25px;

    color:#333;

}



.order-card{

    border:1px solid #eee;

    border-radius:18px;

    padding:20px;

    margin-bottom:20px;

}



.order-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}



.order-header span{

    background:#fff3cd;

    color:#856404;

    padding:8px 15px;

    border-radius:20px;

    font-size:14px;

    font-weight:bold;

}



.order-header small{

    color:#777;

}




/* ITEM */

.order-item{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:15px;

}



.order-item img{

    width:70px;

    height:70px;

    object-fit:cover;

    border-radius:12px;

}



.order-item h4{

    margin:0;

    color:#5d8ef7;

}



.order-item p{

    margin:5px 0;

    color:#555;

}



.order-card h3{

    border-top:1px solid #eee;

    padding-top:15px;

    color:#333;

}




@media(max-width:700px){


    .profile-page{

        padding:20px;

    }


    .profile-info{

        flex-direction:column;

        gap:8px;

    }


    .order-header{

        flex-direction:column;

        align-items:flex-start;

        gap:10px;

    }


}